<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">
  <link href="../../assets/images/favicon.png" rel="icon" />
  <title>Payyed - Money Transfer and Online Payments HTML Template</title>
  <meta name="description"
    content="This professional design html template is for build a Money Transfer and online payments website.">
  <meta name="author" content="harnishdesign.net">

  <!-- Web Fonts ============================================= -->
  <link rel='stylesheet'
    href='https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i' type='text/css'>

  <!-- Stylesheet
============================================= -->
  <link rel="stylesheet" type="text/css" href="../../assets/lib/bootstrap/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="../../assets/lib/font-awesome/css/all.min.css" />
  <link rel="stylesheet" type="text/css" href="../../assets/lib/daterangepicker/daterangepicker.css" />
  <link rel="stylesheet" type="text/css" href="../../assets/css/customer/stylesheet.css" />

  <!-- DevExtreme theme -->
  <link rel="stylesheet" href="https://cdn3.devexpress.com/jslib/21.2.3/css/dx.light.css">

  <!-- login css -->
  <style>
    #changePassword label.error {
      color: red;
      margin: 0;
    }
  </style>
</head>

<body>

  <!-- Preloader -->
  <div id="preloader">
    <div data-loader="dual-ring"></div>
  </div>
  <!-- Preloader End -->

  <!-- Document Wrapper ============================================= -->
  <div id="main-wrapper">

    <!-- Header ============================================= -->
    <header id="header">
      <div class="container">
        <div class="header-row">
          <div class="header-column justify-content-start">
            <!-- Logo
        ============================= -->
            <div class="logo"> <a class="d-flex" href="dashboard.html" title="Payyed - HTML Template"><img
                  src="../../assets/images/logo.png" alt="Payyed" /></a> </div>
            <!-- Logo end -->
            <!-- Collapse Button ============================== -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#header-nav"> <span></span>
              <span></span> <span></span> </button>
            <!-- Collapse Button end -->

            <!-- Primary Navigation ============================== -->
            <nav class="primary-menu navbar navbar-expand-lg">
              <div id="header-nav" class="collapse navbar-collapse">
                <ul class="navbar-nav mr-auto">
                  <li><a href="dashboard.html">Dashboard</a></li>
                  <li><a href="transactions.html">Transactions</a></li>
                  <li><a href="send-money.html">New Transaction</a></li>
                  <li><a href="contact-us.html">Contact Us</a></li>
                </ul>
              </div>
            </nav>
            <!-- Primary Navigation end -->
          </div>
          <div class="header-column justify-content-end">
            <!-- Login & Signup Link
        ============================== -->
            <nav class="login-signup navbar navbar-expand">
              <ul class="navbar-nav">
                <li><a href="profile.html">Settings</a> </li>
                <li class="align-items-center h-auto ml-sm-3"><a
                    class="btn btn-outline-primary shadow-none d-none d-sm-block" href="login.html">Sign out</a></li>
              </ul>
            </nav>
            <!-- Login & Signup Link end -->
          </div>
        </div>
      </div>
    </header>
    <!-- Header End -->

    <!-- Secondary Menu
============================================= -->
    <div class="bg-primary">
      <div class="container d-flex justify-content-center">
        <ul class="nav secondary-nav">
          <li class="nav-item"> <a class="nav-link active" href="profile.html">Account</a></li>
          <li class="nav-item"> <a class="nav-link" href="profile-cards-and-bank-accounts.html">Cards & Bank
              Accounts</a></li>
          <li class="nav-item"> <a class="nav-link" href="profile-notifications.html">Notifications</a></li>
        </ul>
      </div>
    </div>
    <!-- Secondary Menu end -->

    <!-- Content
============================================= -->
    <div id="content" class="py-4">
      <div class="container">
        <div class="row">

          <!-- Left Panel
      ============================================= -->
          <aside class="col-lg-3">

            <!-- Profile Details
        =============================== -->
            <div class="bg-light shadow-sm rounded text-center p-3 mb-4">
              <div class="profile-thumb mt-3 mb-4"> <img class="rounded-circle"
                  src="../../assets/images/profile-thumb.jpg" alt="">
                <div class="profile-thumb-edit custom-file bg-primary text-white" data-toggle="tooltip"
                  title="Change Profile Picture"> <i class="fas fa-camera position-absolute"></i>
                  <input type="file" class="custom-file-input" id="customFile">
                </div>
              </div>
              <p class="text-3 font-weight-500 mb-2" id="fullNameHello">Hello, Smith Rhodes</p>
              <!-- <p class="mb-2"><a href="profile.html" class="text-5 text-light" data-toggle="tooltip"
                  title="Edit Profile"><i class="fas fa-edit"></i></a></p> -->
            </div>
            <!-- Profile Details End -->

            <!-- Available Balance
        =============================== -->
            <div class="bg-light shadow-sm rounded text-center p-3 mb-4">
              <div class="text-17 text-light my-3"><i class="fas fa-wallet"></i></div>
              <h3 class="text-9 font-weight-400">$2956.00</h3>
              <p class="mb-2 text-muted opacity-8">Available Balance</p>
              <hr class="mx-n3">
              <div class="d-flex"><a href="withdraw-money.html" class="btn-link mr-auto">Withdraw</a> <a
                  href="deposit-money.html" class="btn-link ml-auto">Deposit</a></div>
            </div>
            <!-- Available Balance End -->

            <!-- Need Help?
        =============================== -->
            <div class="bg-light shadow-sm rounded text-center p-3 mb-4">
              <div class="text-17 text-light my-3"><i class="fas fa-comments"></i></div>
              <h3 class="text-3 font-weight-400 my-4">Need Help?</h3>
              <p class="text-muted opacity-8 mb-4">Have questions or concerns regrading your account?<br>
                Our experts are here to help!.</p>
              <a href="#" class="btn btn-primary btn-block"><i style="transform: rotate(90deg);"
                  class="fa fa-phone"></i> 0846001460</a>
            </div>
            <!-- Need Help? End -->

          </aside>
          <!-- Left Panel End -->

          <!-- Middle Panel
      ============================================= -->
          <div class="col-lg-9">

            <!-- Personal Details
        ============================================= -->
            <div class="bg-light shadow-sm rounded p-4 mb-4">
              <h3 class="text-5 font-weight-400 mb-3">Personal Details <a href="#edit-personal-details"
                  data-toggle="modal" class="float-right text-1 text-uppercase text-muted btn-link"><i
                    class="fas fa-edit mr-1"></i>Edit</a></h3>
              <div class="row">
                <p class="col-sm-3 text-muted text-sm-right mb-0 mb-sm-3">Name</p>
                <p class="col-sm-9" id="fullName">Smith Rhodes</p>
              </div>
              <div class="row">
                <p class="col-sm-3 text-muted text-sm-right mb-0 mb-sm-3">Date of Birth</p>
                <p class="col-sm-9" id="dateOfBirth">12-09-1982</p>
              </div>
              <div class="row">
                <p class="col-sm-3 text-muted text-sm-right mb-0 mb-sm-3">Phone number</p>
                <p class="col-sm-9" id="phoneNumber"></p>
              </div>
              <div class="row">
                <p class="col-sm-3 text-muted text-sm-right mb-0 mb-sm-3">Address</p>
                <p class="col-sm-9" id="address">4th Floor, Plot No.22, Above Public Park, 145 Murphy Canyon Rd, Suite 100-18,<br>
                  San Ditego,<br>
                  California - 22434,<br>
                  United States.</p>
              </div>
            </div>
            <!-- Edit Details Modal
        ================================== -->
            <div id="edit-personal-details" class="modal fade " role="dialog" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title font-weight-400">Personal Details</h5>
                    <button type="button" class="close font-weight-400" data-dismiss="modal" aria-label="Close"> <span
                        aria-hidden="true">&times;</span> </button>
                  </div>
                  <div class="modal-body p-4">
                    <form id="personaldetails" method="post">
                      <div class="row">
                        <div class="col-12 col-sm-6">
                          <div class="form-group">
                            <label for="firstName">First Name</label>
                            <input type="text" value="Smith" class="form-control" data-bv-field="firstName"
                              id="firstNameEdit" disabled name="firstName" required placeholder="First Name">
                          </div>
                        </div>
                        <div class="col-12 col-sm-6">
                          <div class="form-group">
                            <label for="fullName">Last Name</label>
                            <input type="text" value="Rhodes" class="form-control" data-bv-field="fullName"
                              id="lastNameEdit" disabled name="lastName" required placeholder="Full Name">
                          </div>
                        </div>
                        <div class="col-12">
                          <div class="form-group">
                            <label for="birthDate">Date of Birth</label>
                            <div class="position-relative">
                              <input id="dateOfBirthEdit" name ="dateOfBirth"type="text" class="form-control" required
                                placeholder="Date of Birth" disabled>
                              <span class="icon-inside"><i class="fas fa-calendar-alt"></i></span>
                            </div>
                          </div>
                        </div>
                        <div class="col-12">
                          <h3 class="text-5 font-weight-400 mt-3">Address</h3>
                          <hr>
                        </div>
                        <div class="col-12">
                          <div class="form-group">
                            <label for="address">Address</label>
                            <input name="numberHouse" type="text" value="4th Floor, Plot No.22, Above Public Park" class="form-control"
                              data-bv-field="address" id="numberHouseEdit" required placeholder="Address 1">
                          </div>
                        </div>
                        <div class="col-12 col-sm-6">
                          <div class="form-group">
                            <label for="input-zone">District</label>
                            <input name="district" id="districtEdit" value="" type="text" class="form-control" required
                              placeholder="District">
                          </div>
                        </div>
                        <div class="col-12 col-sm-6">
                          <div class="form-group">
                            <label for="city">City</label>
                            <input name="city" id="cityEdit" value="" type="text" class="form-control" required
                              placeholder="City">
                          </div>
                        </div>
                        
                        <div class="col-12 col-sm-6">
                          <div class="form-group">
                            <label for="inputCountry">Country</label>
                            <input name="country" id="countryEdit"type="text" class="form-control" required
                            placeholder="Country">
                          </div>
                        </div>
                        <div class="col-12 col-sm-6">
                          <div class="form-group">
                            <label for="zipCode">Zip Code</label>
                            <input name="zipCode" id="zipCodeEdit" type="text" class="form-control" required
                              placeholder="Zip Code">
                          </div>
                        </div>
                      </div>
                      <button class="btn btn-primary btn-block mt-2" type="submit">Save Changes</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            <!-- Personal Details End -->

            <!-- Edit Details Modal
        ================================== -->
            <div id="edit-account-settings" class="modal fade " role="dialog" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title font-weight-400">Account Settings</h5>
                    <button type="button" class="close font-weight-400" data-dismiss="modal" aria-label="Close"> <span
                        aria-hidden="true">&times;</span> </button>
                  </div>
                  <div class="modal-body p-4">
                    <form id="accountSettings" method="post">
                      <div class="row">
                        <div class="col-12">
                          <div class="form-group">
                            <label for="language">Language</label>
                            <select class="custom-select" id="language" name="language_id">
                              <option value="1">English (United States)</option>
                              <option value="2">Spanish </option>
                              <option value="3">Chinese</option>
                              <option value="4">Russian</option>
                            </select>
                          </div>
                        </div>
                        <div class="col-12">
                          <div class="form-group">
                            <label for="input-timezone">Time Zone</label>
                            <select class="custom-select" id="input-timezone" name="timezone_id">
                              <option value="-12">(GMT-12:00) International Date Line West</option>
                              <option value="-11">(GMT-11:00) Midway Island, Samoa</option>
                              <option value="-10">(GMT-10:00) Hawaii</option>
                              <option value="-9">(GMT-09:00) Alaska</option>
                              <option value="-8">(GMT-08:00) Pacific Time (US & Canada)</option>
                              <option value="-8">(GMT-08:00) Tijuana, Baja California</option>
                              <option value="-7">(GMT-07:00) Arizona</option>
                              <option value="-7">(GMT-07:00) Chihuahua, La Paz, Mazatlan</option>
                              <option value="-7">(GMT-07:00) Mountain Time (US & Canada)</option>
                              <option selected="selected" value="-6">(GMT-06:00) Central America</option>
                              <option value="-6">(GMT-06:00) Central Time (US & Canada)</option>
                              <option value="-6">(GMT-06:00) Guadalajara, Mexico City, Monterrey</option>
                              <option value="-6">(GMT-06:00) Saskatchewan</option>
                              <option value="-5">(GMT-05:00) Bogota, Lima, Quito, Rio Branco</option>
                              <option value="-5">(GMT-05:00) Eastern Time (US & Canada)</option>
                              <option value="-5">(GMT-05:00) Indiana (East)</option>
                              <option value="-4">(GMT-04:00) Atlantic Time (Canada)</option>
                              <option value="-4">(GMT-04:00) Caracas, La Paz</option>
                              <option value="-4">(GMT-04:00) Manaus</option>
                              <option value="-4">(GMT-04:00) Santiago</option>
                              <option value="-3.5">(GMT-03:30) Newfoundland</option>
                              <option value="-3">(GMT-03:00) Brasilia</option>
                              <option value="-3">(GMT-03:00) Buenos Aires, Georgetown</option>
                              <option value="-3">(GMT-03:00) Greenland</option>
                              <option value="-3">(GMT-03:00) Montevideo</option>
                              <option value="-2">(GMT-02:00) Mid-Atlantic</option>
                              <option value="-1">(GMT-01:00) Cape Verde Is.</option>
                              <option value="-1">(GMT-01:00) Azores</option>
                              <option value="0">(GMT+00:00) Casablanca, Monrovia, Reykjavik</option>
                              <option value="0">(GMT+00:00) Greenwich Mean Time : Dublin, Edinburgh, Lisbon, London
                              </option>
                              <option value="1">(GMT+01:00) Amsterdam, Berlin, Bern, Rome, Stockholm, Vienna</option>
                              <option value="1">(GMT+01:00) Belgrade, Bratislava, Budapest, Ljubljana, Prague</option>
                              <option value="1">(GMT+01:00) Brussels, Copenhagen, Madrid, Paris</option>
                              <option value="1">(GMT+01:00) Sarajevo, Skopje, Warsaw, Zagreb</option>
                              <option value="1">(GMT+01:00) West Central Africa</option>
                              <option value="2">(GMT+02:00) Amman</option>
                              <option value="2">(GMT+02:00) Athens, Bucharest, Istanbul</option>
                              <option value="2">(GMT+02:00) Beirut</option>
                              <option value="2">(GMT+02:00) Cairo</option>
                              <option value="2">(GMT+02:00) Harare, Pretoria</option>
                              <option value="2">(GMT+02:00) Helsinki, Kyiv, Riga, Sofia, Tallinn, Vilnius</option>
                              <option value="2">(GMT+02:00) Jerusalem</option>
                              <option value="2">(GMT+02:00) Minsk</option>
                              <option value="2">(GMT+02:00) Windhoek</option>
                              <option value="3">(GMT+03:00) Kuwait, Riyadh, Baghdad</option>
                              <option value="3">(GMT+03:00) Moscow, St. Petersburg, Volgograd</option>
                              <option value="3">(GMT+03:00) Nairobi</option>
                              <option value="3">(GMT+03:00) Tbilisi</option>
                              <option value="3.5">(GMT+03:30) Tehran</option>
                              <option value="4">(GMT+04:00) Abu Dhabi, Muscat</option>
                              <option value="4">(GMT+04:00) Baku</option>
                              <option value="4">(GMT+04:00) Yerevan</option>
                              <option value="4.5">(GMT+04:30) Kabul</option>
                              <option value="5">(GMT+05:00) Yekaterinburg</option>
                              <option value="5">(GMT+05:00) Islamabad, Karachi, Tashkent</option>
                              <option value="5.5">(GMT+05:30) Sri Jayawardenapura</option>
                              <option value="5.5">(GMT+05:30) Chennai, Kolkata, Mumbai, New Delhi</option>
                              <option value="5.75">(GMT+05:45) Kathmandu</option>
                              <option value="6">(GMT+06:00) Almaty, Novosibirsk</option>
                              <option value="6">(GMT+06:00) Astana, Dhaka</option>
                              <option value="6.5">(GMT+06:30) Yangon (Rangoon)</option>
                              <option value="7">(GMT+07:00) Bangkok, Hanoi, Jakarta</option>
                              <option value="7">(GMT+07:00) Krasnoyarsk</option>
                              <option value="8">(GMT+08:00) Beijing, Chongqing, Hong Kong, Urumqi</option>
                              <option value="8">(GMT+08:00) Kuala Lumpur, Singapore</option>
                              <option value="8">(GMT+08:00) Irkutsk, Ulaan Bataar</option>
                              <option value="8">(GMT+08:00) Perth</option>
                              <option value="8">(GMT+08:00) Taipei</option>
                              <option value="9">(GMT+09:00) Osaka, Sapporo, Tokyo</option>
                              <option value="9">(GMT+09:00) Seoul</option>
                              <option value="9">(GMT+09:00) Yakutsk</option>
                              <option value="9.5">(GMT+09:30) Adelaide</option>
                              <option value="9.5">(GMT+09:30) Darwin</option>
                              <option value="10">(GMT+10:00) Brisbane</option>
                              <option value="10">(GMT+10:00) Canberra, Melbourne, Sydney</option>
                              <option value="10">(GMT+10:00) Hobart</option>
                              <option value="10">(GMT+10:00) Guam, Port Moresby</option>
                              <option value="10">(GMT+10:00) Vladivostok</option>
                              <option value="11">(GMT+11:00) Magadan, Solomon Is., New Caledonia</option>
                              <option value="12">(GMT+12:00) Auckland, Wellington</option>
                              <option value="12">(GMT+12:00) Fiji, Kamchatka, Marshall Is.</option>
                              <option value="13">(GMT+13:00) Nuku'alofa</option>
                            </select>
                          </div>
                        </div>
                        <div class="col-12">
                          <div class="form-group">
                            <label for="accountStatus">Account Status</label>
                            <select class="custom-select" id="accountStatus" name="language_id">
                              <option value="1">Active</option>
                              <option value="2">In Active</option>
                            </select>
                          </div>
                        </div>
                      </div>
                      <button class="btn btn-primary btn-block mt-2" type="submit">Save Changes</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            <!-- Account Settings End -->

            <!-- Email Addresses
        ============================================= -->
            <div class="bg-light shadow-sm rounded p-4 mb-4">
              <h3 class="text-5 font-weight-400 mb-3">Email Addresses <a href="#edit-email" data-toggle="modal"
                  class="float-right text-1 text-uppercase text-muted btn-link"><i class="fas fa-edit mr-1"></i>Edit</a>
              </h3>
              <div class="row">
                <p class="col-sm-3 text-muted text-sm-right mb-0 mb-sm-3">Email</p>
                <p class="col-sm-9" id="email"></p>
              </div>
            </div>
            <!-- Edit Details Modal
        ================================== -->
            <div id="edit-email" class="modal fade " role="dialog" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title font-weight-400">Email Addresses</h5>
                    <button type="button" class="close font-weight-400" data-dismiss="modal" aria-label="Close"> <span
                        aria-hidden="true">&times;</span> </button>
                  </div>
                  <div class="modal-body p-4">
                    <form id="emailAddresses" method="post">
                      <div class="row">
                        <div class="col-12">
                          <div class="form-group">
                            <label for="emailID">Email</label>
                            <input type="text" value="smithrhodes1982@gmail.com" class="form-control"
                              data-bv-field="emailid" id="emailEdit" name="email" required placeholder="Email">
                          </div>
                        </div>
                      </div>
                      <button class="btn btn-primary btn-block" type="submit">Save Changes</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            <!-- Email Addresses End -->


            <!-- Security
        ============================================= -->
            <div class="bg-light shadow-sm rounded p-4">
              <h3 class="text-5 font-weight-400 mb-3">Security <a href="#change-password" data-toggle="modal"
                  class="float-right text-1 text-uppercase text-muted btn-link"><i class="fas fa-edit mr-1"></i>Edit</a>
              </h3>
              <div class="row">
                <p class="col-sm-3 text-muted text-sm-right mb-0 mb-sm-3">
                  <label class="col-form-label">Password</label>
                </p>
                <p class="col-sm-9">
                  <input type="password" class="form-control-plaintext" data-bv-field="password" id="password"
                    value="EnterPassword">
                </p>
              </div>
            </div>

            <!-- Edit Details Modal ================================== -->
            <div id="change-password" class="modal fade " role="dialog" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title font-weight-400">Change Password</h5>
                    <button type="button" class="close font-weight-400" data-dismiss="modal" aria-label="Close"> <span
                        aria-hidden="true">&times;</span> </button>
                  </div>
                  <div class="modal-body p-4">

                    <form id="changePassword" method="post">
                      <div class="form-group">
                        <label for="currentPassword">Current Password</label>
                        <input type="password" class="form-control" data-bv-field="existingpassword" id="currentPassword" name="currentPassword"
                          required placeholder="Enter Current Password">
                      </div>
                      <div class="form-group">
                        <label for="newPassword">New Password</label>
                        <input type="password" class="form-control" data-bv-field="newpassword" id="newPassword" name="newPassword" required
                          placeholder="Enter New Password">
                      </div>
                      <div class="form-group">
                        <label for="confirmNewPassword">Confirm New Password</label>
                        <input type="password" class="form-control" data-bv-field="confirmgpassword" id="confirmNewPassword" name="confirmNewPassword"
                          required placeholder="Enter Confirm New Password">
                      </div>
                      <button class="btn btn-primary btn-block mt-4" type="submit">Update Password</button>
                    </form>

                  </div>
                </div>
              </div>
            </div>
            <!-- Security End -->

          </div>
          <!-- Middle Panel End -->
        </div>
      </div>
    </div>
    <!-- Content end -->

    <!-- Footer
============================================= -->
    <footer id="footer">
      <div class="container">
        <div class="row">
          <div class="col-lg d-lg-flex align-items-center">
            <ul class="nav justify-content-center justify-content-lg-start text-3">
              <li class="nav-item"> <a class="nav-link active" href="#">About Us</a></li>
              <li class="nav-item"> <a class="nav-link" href="#">Support</a></li>
              <li class="nav-item"> <a class="nav-link" href="#">Help</a></li>
              <li class="nav-item"> <a class="nav-link" href="#">Careers</a></li>
              <li class="nav-item"> <a class="nav-link" href="#">Affiliate</a></li>
              <li class="nav-item"> <a class="nav-link" href="#">Fees</a></li>
            </ul>
          </div>
          <div class="col-lg d-lg-flex justify-content-lg-end mt-3 mt-lg-0">
            <ul class="social-icons justify-content-center">
              <li class="social-icons-facebook"><a data-toggle="tooltip" href="http://www.facebook.com/" target="_blank"
                  title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
              <li class="social-icons-twitter"><a data-toggle="tooltip" href="http://www.twitter.com/" target="_blank"
                  title="Twitter"><i class="fab fa-twitter"></i></a></li>
              <li class="social-icons-google"><a data-toggle="tooltip" href="http://www.google.com/" target="_blank"
                  title="Google"><i class="fab fa-google"></i></a></li>
              <li class="social-icons-youtube"><a data-toggle="tooltip" href="http://www.youtube.com/" target="_blank"
                  title="Youtube"><i class="fab fa-youtube"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="footer-copyright pt-3 pt-lg-2 mt-2">
          <div class="row">
            <div class="col-lg">
              <p class="text-center text-lg-left mb-2 mb-lg-0">Copyright &copy; 2019 <a href="#">Payyed</a>. All Rights
                Reserved.</p>
            </div>
            <div class="col-lg d-lg-flex align-items-center justify-content-lg-end">
              <ul class="nav justify-content-center">
                <li class="nav-item"> <a class="nav-link active" href="#">Security</a></li>
                <li class="nav-item"> <a class="nav-link" href="#">Terms</a></li>
                <li class="nav-item"> <a class="nav-link" href="#">Privacy</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- Footer end -->

  </div>
  <!-- Document Wrapper end -->

  <!-- Back to Top
============================================= -->
  <a id="back-to-top" data-toggle="tooltip" title="Back to Top" href="javascript:void(0)"><i
      class="fa fa-chevron-up"></i></a>

  <!-- Script -->
  <script src="../../assets/lib/jquery/jquery.min.js"></script>
  <script src="../../assets/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../../assets/lib/daterangepicker/moment.min.js"></script>
  <script src="../../assets/lib/daterangepicker/daterangepicker.js"></script>
  <script>
    $(function () {
      'use strict';
      // Birth Date
      $('#birthDate').daterangepicker({
        singleDatePicker: true,
        "showDropdowns": true,
        autoUpdateInput: false,
        maxDate: moment().add(0, 'days'),
      }, function (chosen_date) {
        $('#birthDate').val(chosen_date.format('MM-DD-YYYY'));
      });
    });
  </script>
  <script src="../../assets/js/customer/theme.js"></script>

  <!-- Thư viện dùng chung -->
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js"></script>
  <script src="https://cdn3.devexpress.com/jslib/21.2.3/js/dx.all.js"></script>
  <script src="../../assets/js/common/Notify.js"></script>
  <script src="../../assets/js/common/ApiClient.js"></script>
  <script src="../../assets/js/common/authentication.js"></script>

  <!-- changePassword -->
  <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.min.js"></script>
  <script src="../../assets/js/common/Validation.js"></script>
  <script src="../../assets/js/common/Form.js"></script>
  <script src="../../assets/js/customer/changePassword.js"></script>
  <script src="../../assets/js/common/convertDate.js"></script>
  <script src="../../assets/js/customer/profile.js"></script>
</body>

</html>